{% extends "base.html" %}
{% block title %}{{ trainer }}{% endblock title %}
{% block content %}
    <h5 class="py-4 text-center">Has elegido al entrenador: <strong>{{ trainer | capfirst }}</strong></h5>
    
    <div class="container-fluid" style="max-width: 1000px;">
        <div class="row g-0">
            
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="{{ trainer.picture.url }}" class="img-fluid" alt="Imagen de {{ trainer.name }}">
            </div>
            
            <div class="col-md-4">
                <div class="card-body">
                    <h5 class="text-center">Datos:</h5>
                    <ul class="list-group">
                        <li class="list-group-item">Nombre: {{ trainer.name }}</li>
                        <li class="list-group-item">Apellido: {{ trainer.last_name }}</li>
                        <li class="list-group-item">Año de nacimiento: {{ trainer.birth_date }}</li>
                        <li class="list-group-item">Nivel: {{ trainer.level }}</li>
                    </ul>
                </div>
            </div>
                        
            <div class="col-md-4">
                <div class="card-body">
                    <h5 class="text-center">Pokémons entrenados:</h5>
                    {% if trainer.pokemon_set.all %}
                        <ol class="list-group">
                            {% for pokemon in trainer.pokemon_set.all %}
                        <!-- pokemon_set es funcion propia de django, tiene relacion con las llaves foraneas-->

                                <li class="list-group-item text-center">
                                    {{ pokemon.name }} - {{ pokemon.type }}
                                </li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        <p class="text-center">No tiene Pokémon asignados.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <div class="mt-4 d-flex justify-content-center">
            <a href="{% url 'pokedex:index' %}" class="btn btn-primary">Regresar al inicio</a>
        </div>
    </div>
    <br>
    <br>
{% endblock content %}
